:root {
  --light: #5b6057;
  --lighter: #6e9075;
  --lightest: #e0d8de;
  --dark: #720e07;
  --darker: #45050c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  padding: 20px;
  background: var(--darker);
  margin-bottom: 40px;
}

header div h2 a,
.nav-item a {
  text-decoration: none;
  color: var(--lightest);
}

li {
  list-style: none;
}

.nav-link{
  text-decoration: none;
}

/* ABOUT ME SECTION START */
.avatar {
  height: 40px;
}

.first-paragraph {
  margin-top: 10px;
}
/* ABOUT ME SECTION END */


/* PROJECTS SECTION START */
.project {
  padding: 10px;
}

.project h4 {
  padding-top: 5px;
}

/* PROJECTS SECTION END */
